{% extends "base.html" %}
{% block content %}
<h3>Import Step 1: Choose a File</h3>
<p>Choose a file containing data to import.  You will have the opportunity to review the imported parts before finalizing the import.</p>
<form method="post" action="/import" enctype="multipart/form-data">    
	<input name="file" id="file_input" type="file" style="display:none">
    <div class="input-append">
    	<input class="input-xlarge uneditable-input" id="file_input_text" type="text">
    	<button class="btn" type="button" onclick="$('input[id=file_input]').click();">Browse...</button>
    </div>
    <script type="text/javascript">
    $('input[id=file_input]').change(function() {
    	$('#file_input_text').val($(this).val());
    });
    </script>
    <button class="btn btn-info" type="submit">Next &gt;&gt;</button> 
</form>
{% endblock %}